@import "variables.scss";

.ant-input-affix-wrapper {
  border: 1px solid $border-color !important;
  min-height: $min-height; // Adjust the value as needed
  box-shadow: none !important;

  &:focus,
  &:hover,
  &:focus-visible {
    border-color: $border-color !important;
    box-shadow: none !important;
  }

  &.ant-input-status-error {
    border-color: #ff4d4f !important;
  }
  .ant-input {
    min-height: 0 !important;
    border-radius: $radius;
    background-color: $transparent;
    outline: none;
    color: $primary !important;
    /* font-size: 16px !important; */
    box-shadow: none !important;
  }
}

.ant-form-item-explain-error {
  padding: 5px 0;
}

.ant-input-prefix {
  color: $primary !important;
}

.ant-input-password {
  min-height: $min-height; // Adjust the value as needed
  background-color: $transparent;
  border: 1px solid $border-color !important;
  border-radius: $radius;

  &.ant-input-status-error {
    border-color: #ff4d4f !important;
  }
  .ant-input {
    border-radius: $radius;
    border: none !important;
    background-color: $transparent;
    outline: none;
    box-shadow: none !important;
  }

  &:focus,
  &:hover,
  &:focus-visible {
    border-color: $border-color !important;
    box-shadow: none !important;

    &.ant-input-status-error {
      border-color: #ff4d4f !important;
    }
  }
}

.ant-input-number {
  border: 1px solid $border-color !important;
  outline: none;
  border-radius: $radius;
  background-color: $transparent !important;
  box-shadow: none !important;

  .ant-input-number-input-wrap {
    background-color: transparent !important;
  }

  &:focus,
  &:hover,
  &:focus-visible {
    background-color: $transparent !important;
    border-color: $border-color !important;
    box-shadow: none !important;
  }
  .ant-input-number-input {
    min-height: $min-height;
  }
}
.ant-input-number-status-error {
  border-color: #ff4d4f !important;

  &:hover {
    border-color: #ff4d4f !important;
  }
}

.ant-picker {
  min-height: $min-height; // Adjust the value as needed
  border-color: $border-color !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: $transparent !important;
  border-radius: $radius;

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $border-color !important;
    box-shadow: none !important;
  }

  &.ant-picker-status-error {
    border-color: #ff4d4f !important;
  }

  .ant-picker-input {
    input {
      color: $primary !important;
    }
  }
}

.ant-select {
  height: auto !important;

  border: none !important;
  outline: none !important;
  color: $primary !important;

  background-color: $transparent;
  box-shadow: none !important;

  .ant-select-selector {
    min-height: $min-height; // Adjust the value as needed
    background-color: $transparent !important;
    box-shadow: none !important;
    /* font-size: 16px !important; */
    outline: none;
    border-color: $border-color !important;
    color: $primary;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    .ant-select-selector {
      border-color: $border-color !important;
    }
  }

  &.ant-select-status-error .ant-select-selector {
    border-color: #ff4d4f !important;
  }
}

.ant-checkbox {
  .ant-checkbox-inner {
    &.ant-checkbox-status-error .ant-checkbox-inner {
      border-color: #ff4d4f !important;
    }
  }
}

.ant-input-outlined {
  background: $transparent !important;
}

.ant-input {
  border: 1px solid $border-color !important;
  min-height: $min-height; // Adjust the value as needed
  box-shadow: none !important;
  border-radius: $radius;
  &:focus,
  &:hover,
  &:focus-visible {
    border-color: $border-color !important;
    box-shadow: none !important;
  }

  &.ant-input-status-error {
    border-color: #ff4d4f !important;
  }
}

.ant-input-affix-wrapper {
  .ant-input {
    border: none !important;
  }
}

.ant-btn {
  box-shadow: none !important;
  outline: none;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.custom-scrollbar {
  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.ant-layout {
  font-family: "Poppins", sans-serif !important;

  .ant-layout-sider {
    transition: all 0.3s ease 0s;
  }

  .ant-menu-item-selected {
    font-weight: 600;

    .ant-menu-item-icon {
      font-weight: 600;
    }
  }
}

.ant-btn,
.ant-btn-default {
  background: #283a83;
  border: 1px solid #283a83;
  // color: white;
  color: black;
  min-width: 120px;
  font-family: "Poppins-Medium";
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn-default:hover,
.ant-btn-default:focus {
  background: #283a83 !important;
  border-color: #283a83 !important;
  color: white !important;
  min-width: 120px;
}
